<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :primeiro_nome, style: "display: block" %>
    <%= form.text_field :primeiro_nome %>
  </div>

  <div>
    <%= form.label :ultimo_nome, style: "display: block" %>
    <%= form.text_field :ultimo_nome %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :data_de_nascimento, style: "display: block" %>
    <%= form.date_field :data_de_nascimento %>
  </div>


  <%= form.fields_for :endereco do |endereco_form| %>
    <div>
      <%= endereco_form.label :endereco_do_paciente, style: "display: block" %>
    </div>
    <div>
      <%= endereco_form.label :cep, style: "display: block" %>
      <%= endereco_form.text_field :cep %>
    </div>

    <div>
      <%= endereco_form.label :cidade, style: "display: block" %>
      <%= endereco_form.text_field :cidade %>
    </div>
    <div>
      <%= endereco_form.label :bairro, style: "display: block" %>
      <%= endereco_form.text_field :bairro %>
    </div>

    <div>
      <%= endereco_form.label :logradouro, style: "display: block" %>
      <%= endereco_form.text_field :logradouro %>
    </div>

    <div>
      <%= endereco_form.label :complemento, style: "display: block" %>
      <%= endereco_form.text_field :complemento %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

