<div id="<%= dom_id medico %>">
  <p>
    <strong>Primeiro nome:</strong>
    <%= medico.primeiro_nome %>
  </p>

  <p>
    <strong>Ultimo nome:</strong>
    <%= medico.ultimo_nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= medico.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= medico.email %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= medico.especialidade %>
  </p>

  <p>
    <strong>Numero do crm:</strong>
    <%= medico.numero_do_crm %>
  </p>

</div>
